{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1>DB1 - Pedido de Vendas</h1>
        <img class="img img-responsive center-block" src="http://www.andrecelestino.com/wp-content/uploads/2016/12/db1-global-software-logo.png" />

        <h2>Avaliação técnica PHP/Symfony</h2>
        <h3>Luciano Murilo Turgante Besse</h3>

    </div>
{% endblock %}
