{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cadastrar Pessoa</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Cadastrar" />
    {{ form_end(form) }}


    <a class="btn btn-info" href="{{ path('pessoa_index') }}">Voltar</a>

{% endblock %}
